In [271]:
from google.colab import drive

In [272]:
import pandas as pd

In [273]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/German Credit Card/german_credit_data.csv')

In [274]:
df.head()

   Unnamed: 0  Age     Sex  ...  Duration              Purpose  Risk
0           0   67    male  ...         6             radio/TV  good
1           1   22  female  ...        48             radio/TV   bad
2           2   49    male  ...        12            education  good
3           3   45    male  ...        42  furniture/equipment  good
4           4   53    male  ...        24                  car   bad

[5 rows x 11 columns]

In [275]:
df.drop('Unnamed: 0',axis=1, inplace=True)

In [276]:
df.isnull().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [277]:
df.value_counts('Saving accounts')

Saving accounts
little        603
moderate      103
quite rich     63
rich           48
dtype: int64

In [278]:
df['Saving accounts'].fillna('Unknown',inplace=True)

In [279]:
df.value_counts('Checking account')

Checking account
little      274
moderate    269
rich         63
dtype: int64

In [280]:
df['Checking account'].fillna('Unknown', inplace=True)

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   1000 non-null   object
 5   Checking account  1000 non-null   object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB



*  No of columns=10
* No of rows= 1000


datatype:

*    int64- Age, Job, Duration, Credit amount
                   
*   object- Sex, Housing,Saving accounts, Checking account, Purpose, Risk

In [282]:
df.describe()

               Age          Job  Credit amount     Duration
count  1000.000000  1000.000000    1000.000000  1000.000000
mean     35.546000     1.904000    3271.258000    20.903000
std      11.375469     0.653614    2822.736876    12.058814
min      19.000000     0.000000     250.000000     4.000000
25%      27.000000     2.000000    1365.500000    12.000000
50%      33.000000     2.000000    2319.500000    18.000000
75%      42.000000     2.000000    3972.250000    24.000000
max      75.000000     3.000000   18424.000000    72.000000

In [283]:
df.value_counts('Purpose')

Purpose
car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
vacation/others         12
domestic appliances     12
dtype: int64

In [284]:
df.value_counts('Risk')

Risk
good    700
bad     300
dtype: int64

In [285]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
columns = ["Sex","Risk"]
le = LabelEncoder()
for i in columns:
    df[i] = le.fit_transform(df[i])

In [286]:
#get dummy variaables
dummy=['Housing','Saving accounts','Checking account','Purpose']
for i in dummy:
 # df=pd.concat([df, pd.get_dummies(df[i])],axis=1)
  df = pd.concat([df, pd.get_dummies(df[i])], axis=1)

In [287]:
pd.cut(df['Age'], bins=[0,25,35,40,50,75], labels=['0-25','25-35', '35-40', '40-50','50-75'])

0      50-75
1       0-25
2      40-50
3      40-50
4      50-75
       ...
995    25-35
996    35-40
997    35-40
998     0-25
999    25-35
Name: Age, Length: 1000, dtype: category
Categories (5, object): ['0-25' < '25-35' < '35-40' < '40-50' < '50-75']

In [288]:
df=pd.concat([df, pd.get_dummies(df['Age'])], axis=1)

In [289]:
df.drop(['Housing','Saving accounts','Checking account','Purpose','Age'], axis = 1, inplace=True)

In [290]:
df.head()

   Sex  Job  Credit amount  Duration  Risk  free  ...  66  67  68  70  74  75
0    1    2           1169         6     1     0  ...   0   1   0   0   0   0
1    0    2           5951        48     0     0  ...   0   0   0   0   0   0
2    1    1           2096        12     1     0  ...   0   0   0   0   0   0
3    1    2           7882        42     1     1  ...   0   0   0   0   0   0
4    1    2           4870        24     0     1  ...   0   0   0   0   0   0

[5 rows x 78 columns]

In [291]:
X=df.drop(['Risk'],axis=1)
y=df['Risk']

In [292]:
#splitting the data
from sklearn.model_selection import train_test_split

In [293]:
X_train,X_test, y_train,y_test=train_test_split(X,y,test_size=0.30, random_state=1 )

In [294]:
X_train.shape, X_test.shape, y_train.shape,y_test.shape

((700, 77), (300, 77), (700,), (300,))

In [297]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [298]:
from keras.models import Sequential
from keras.layers import Dense

In [299]:
# creating a base model
model = Sequential()
model.add(Dense(22, input_dim=77, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(20,kernel_initializer='he_normal', activation='relu'))
model.add(Dense(20,kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [300]:
model.fit(X_train,y_train, epochs=10)

Epoch 1/10
22/22 [==============================] - 0s 1ms/step - loss: 0.7136 - accuracy: 0.6082
Epoch 2/10
22/22 [==============================] - 0s 1ms/step - loss: 0.6328 - accuracy: 0.6893
Epoch 3/10
22/22 [==============================] - 0s 1ms/step - loss: 0.6161 - accuracy: 0.6935
Epoch 4/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5735 - accuracy: 0.6969
Epoch 5/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5508 - accuracy: 0.7188
Epoch 6/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5341 - accuracy: 0.7281
Epoch 7/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5244 - accuracy: 0.7211
Epoch 8/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5225 - accuracy: 0.7168
Epoch 9/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5089 - accuracy: 0.7326
Epoch 10/10
22/22 [==============================] - 0s 1ms/step - loss: 0.4891 - accuracy: 0.7312

In [301]:
y_pred=model.predict(X_test)

In [302]:
model.evaluate(X_train,y_train)

22/22 [==============================] - 0s 1ms/step - loss: 0.4664 - accuracy: 0.7514

[0.4664044678211212, 0.7514285445213318]

accuracy on training data is 75%

In [303]:
model.evaluate(X_test,y_test)

10/10 [==============================] - 0s 1ms/step - loss: 0.5884 - accuracy: 0.7167

[0.5884283185005188, 0.7166666388511658]

accuracy on test data is 71.7%

In [317]:
#baseline model 2
model = Sequential()
model.add(Dense(40, input_dim=77, kernel_initializer='he_uniform', activation='relu'))
#model.add(Dense(50,kernel_initializer='he_normal', activation='relu'))
model.add(Dense(30,kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [318]:
model.fit(X_train,y_train, epochs=10)

Epoch 1/10
22/22 [==============================] - 0s 1ms/step - loss: 0.8124 - accuracy: 0.5169
Epoch 2/10
22/22 [==============================] - 0s 1ms/step - loss: 0.6151 - accuracy: 0.6887
Epoch 3/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5548 - accuracy: 0.7405
Epoch 4/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5147 - accuracy: 0.7312
Epoch 5/10
22/22 [==============================] - 0s 1ms/step - loss: 0.5141 - accuracy: 0.7325
Epoch 6/10
22/22 [==============================] - 0s 1ms/step - loss: 0.4481 - accuracy: 0.7796
Epoch 7/10
22/22 [==============================] - 0s 1ms/step - loss: 0.4443 - accuracy: 0.7914
Epoch 8/10
22/22 [==============================] - 0s 1ms/step - loss: 0.4476 - accuracy: 0.7724
Epoch 9/10
22/22 [==============================] - 0s 1ms/step - loss: 0.4339 - accuracy: 0.8005
Epoch 10/10
22/22 [==============================] - 0s 1ms/step - loss: 0.3983 - accuracy: 0.8352

In [319]:
model.evaluate(X_train,y_train)

22/22 [==============================] - 0s 957us/step - loss: 0.3892 - accuracy: 0.8314

[0.38919341564178467, 0.831428587436676]

In [320]:
model.evaluate(X_test, y_test)

10/10 [==============================] - 0s 1ms/step - loss: 0.5798 - accuracy: 0.7200

[0.5797953605651855, 0.7200000286102295]